.container-fluid {
    background-color: #f1f1f1; /* ajoute un fond gris clair à la page */
}

h1 {
    font-size: 36px; /* augmente la taille de la police pour le titre */
    font-weight: bold; /* rend le titre en gras */
    margin-bottom: 20px; /* ajoute de l'espacement entre le titre et le reste du contenu */
}

.saisieInput {
    padding: 10px; /* ajoute de l'espacement intérieur à l'input */
    border-radius: 5px; /* arrondit les bords de l'input */
    border: none; /* enlève la bordure de l'input */
    margin-right: 10px; /* ajoute de l'espacement entre l'input et le bouton */
}

#listeTaches {
    margin-top: 20px; /* ajoute de l'espacement entre les tâches et le reste du contenu */
}
